/* Basisstijl */
body {
    margin: 0;
    font-family: "Jost", sans-serif;
    background-color: #fffcf8;
}

p {
    font-size: 1.1rem;
    font-family: "Jost", sans-serif;
}

h1 {
    font-size: 2.2rem;
    color: #f68f51;
    font-family: "Playball", cursive;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0d9cc;
    padding: 2vh 7vw;
    position: relative;
}

.logo img {
    width: 15vw;
    transition: 0.7s;
}

.logo img:hover {
    transform: scale(1.06);
    transition: 1s;
}

.links {
    display: flex;
    gap: 20px;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
    padding: 2% 11px;
    transition: 0.5s;
}

.links a:hover {
    background-color: #f68f51;
    transform: scale(1.1);
    border-radius: 10%;
}

.links a:active {
    background-color: #bde7fa;
    transition: 0.2s;
}

.fishBasket img {
    width: 5vw;
}

/* Burger menu */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Mobiel dropdown menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #e0d9cc;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    text-align: center;
}

.mobile-menu a {
    padding: 12px 0;
    border-top: 1px solid #d3c9b7;
    color: black;
    text-decoration: none;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
    transition: 0.3s;
}

.mobile-menu a:hover {
    background-color: #f68f51;
    transform: scale(1.05);
    border-radius: 5%;
}

.mobile-menu.show {
    display: flex;
    max-height: 500px;
}

/* Responsief: burger zichtbaar onder 320px */
@media (max-width: 320px) {
    .links {
        display: none;
    }

    .burger {
        display: flex;
    }
}

/* Main content styling */
main {
    background-color: #fffcf8;
}

main section {
    display: flex;
    margin: 1vh 7vw;
    align-items: center;
}

.top, .bottom {
    padding: 5vh 0;
}

.top div, .bottom div {
    margin: 0 2vw;
    width: 40vw;
}

.top img, .bottom img {
    width: 40vw;
    border: 3px solid #e0d9cc;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.footerLeft p {
    color: #f68f51;
    margin: 0.2vw 0.2vw 0.5vw;
}

.footerLogo {
    width: 167px;
    height: auto;
}

.mediaLogo {
    width: 30px;
}