P {
    font-size: 1.1rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #fffcf8;
}

header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 20vh;
    background-color: #e0d9cc;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 3vw;
    border-radius: 5%;
    border: solid grey 1.5px;

}

.logo img{
    transition: .7s;
}

.logo img:hover {
    transform: scale(1.06);
    transition: 1s;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2.5vw;
    width: 20vw;
    height: 3vw;
    background-color: #737373;
    border: 2.5px solid black;
    color: black;
    text-decoration: none;
}

header a:hover {
    background-color: #f68f51;
    transition: .2s;
}

header a:active {
    background-color: #bde7fa;
    transition: .2s;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}


nav div {
    display: flex;
    flex-direction: row;
}


nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
}

.links {
    padding: 5vh;
    gap: 20px;
    text-align: center;

}

.links a {
    width: 4vw;
    height: 100%;
    align-self: center;
}


nav div a {
    background-color: #fcd0bd;

    border: 2px solid #fcd0bd;
    color: black;
    padding: 4% 22px;
}

nav img {
    width: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.logo a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
}
