
body {
    width: 100%;
}

h1, h2 {
    font-family: Playball;
    font-size: 4rem;
    color: #f68f51;
}

P {
    font-family: "Tw Cen MT";
    font-size: 2rem;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/bannercontact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100vw;
    height: 55vh;
    text-align: center;
    padding-bottom: 3.5vh;
    background-color: #fffcf8;

}

header p {
    font-size: 1.5rem;
    color: #f68f51;
}

header {
    align-items: center;

}

header div {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.45);
}




.jost- {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


label {
    padding: 0.5vw;
    margin: 0.3vw;
}

form {
    display: flex;
    flex-direction: column;
    width: 79.7%;
    max-width: 100vw;
    height: 70vh;
    justify-content: center;
    align-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: "Tw Cen MT";
    font-size: 1.2rem;
    padding-bottom: 4vh;
    background-color: #fffcf8;
    padding-top: 3vh;
}

input {
    padding: 1vw;
}

textarea {
    padding-bottom: 7vw;
    padding-left: 1vw;
}

form button {
    margin-top: 2.5vw;
    width: 100%;
    max-width: 100vw;
    height: 3.5vw;
    background-color: #fcd0bd;
    border: 2.5px #fcd0bd;
}

form button:hover {
    background-color: #f68f51;
    transition: .2s;
}

form button:active {
    background-color: #bde7fa;
    transition: .2s;
}


form span {
    color: #b30303;
}

P {
    font-size: 1.1rem;
    font-family: "Jost", sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-family: "Jost", sans-serif;
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffcf8;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 7vw;
    background-color: #e0d9cc;
    align-items: center;
}


nav div {
    display: flex;
    flex-direction: row;
}


a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
}

.links {
    padding: 2vh;
    gap: 20px;
    text-align: center;

}

.links a {
    height: 100%;
    align-self: center;
}


nav div a {
    color: black;
    padding: 2% 11px;
}

nav img {
    width: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.logo a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
}


.links a:hover {
    background-color: #f68f51;
    transform: scale(1.1);
    border-radius: 10%;
    transition: 0.5s;
}

.links a:active {
    background-color: #bde7fa;
    transition: .2s;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.mediaLogo {
    width: 30px;
}

.footerLogo {
    width: 167px;
    height: auto;
}

.footerLeft p {
    color: #f68f51;
    margin: 0.2vw 0.2vw 0.5vw;
    padding-left: 0.2vw;
}

.footerLeft div {
    margin: 0vw;
}


.logo img{
    transition: .7s;
}

.logo img:hover {
    transform: scale(1.06);
    transition: 1s;
}

.fishBasket img {
    width: 5vw;
}


.fishBasket a:hover {
    background-color: rgba(246, 143, 81, 0);
    border: rgba(246, 143, 81, 0);
    transition: .2s;
    padding-top: 60%;
    transform: scale(1);
}


.fishBasket img:hover {
    background-color: #f68f51;

    transition: .2s;
    transform: scale(1);
}

.fishBasket a {
    padding-top: 60%;
}

form span {
    color: #b30303;
}

nav span {

    display: flex;
    flex-direction: column;
    color: black;
    background-color: #bde7fa;
    justify-content: center;
    text-align: center;
    padding: 3vh;
    font-size: 1.8rem;
    font-family: "Jost", sans-serif;
}

nav span {
    background-color: #bde7fa;
    border-radius: 10%;
    font-size: 0.9rem;
    text-align: center;
    width: 5vw;
    height: 2.2vh;
    margin: 0 auto;
}

@media (max-width: 986px) {
    header {
        display: none;
    }
    form input{
    padding: 1.5vw;
        font-size: 1.9rem;
    }
    form label {
        padding: 1vw;
    }
    form textarea {
        height: 10vh;
        padding: 1.5vw;
        font-size: 1.9rem;
    }
    form button {
        margin-top: 13vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3vw;
        text-align: center;
        font-size: 1.9rem;
    }
}

/* Burger menu */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Mobiel dropdown menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #e0d9cc;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    text-align: center;
}

.mobile-menu a {
    padding: 12px 0;
    border-top: 1px solid #d3c9b7;
    color: black;
    text-decoration: none;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
    transition: 0.3s;
}

.mobile-menu a:hover {
    background-color: #f68f51;
    transform: scale(1.05);
    border-radius: 5%;
}

.mobile-menu.show {
    display: flex;
    max-height: 500px;
}

/* Responsief: burger zichtbaar onder 320px */
@media (max-width: 480px) {
    .links {
        display: none;
    }

    .burger {
        display: flex;
    }
    .home {
        display: block;
    }
}

@media (max-width: 650px) {
    .links a {
        padding: 0;
    }

    .home {
        display: none;
    }
    nav {
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }
    .fishBasket img {
        width: 30px;
    }
    .logo img {
        width: 100px;
    }
    article {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .product {
        padding: 0;
    }
    .info {
        align-items: center;
    }

}