
P {
    font-size: 1.1rem;
    font-family: "Jost", sans-serif;
}

h1 {
    font-family: "Jost", sans-serif;
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

main a {
    background-color: #fcd0bd;
    border: 2px solid #fcd0bd;
    color: black;
    width: 3.5vw;
    height: 4vh;
    border-radius: 15%;
}

main a:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

main a:active {
    background-color: #bde7fa;
    border: 2px solid #bde7fa;
    transition: .2s;
    align-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 7vw;
    background-color: #e0d9cc;
    align-items: center;
}


nav div {
    display: flex;
    flex-direction: row;
}


a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
}

.links {
    padding: 2vh;
    gap: 20px;
    text-align: center;

}

.links a {
    height: 100%;
    align-self: center;
}


nav div a {
    color: black;
    padding: 2% 11px;
}

nav img {
    width: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.logo a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
}

.logo img{
    transition: .7s;
}


.logo img:hover {
    transform: scale(1.06);
    transition: 1s;
}


.links a:hover {
    background-color: #f68f51;
    transform: scale(1.1);
    border-radius: 10%;
    transition: 0.5s;
}

.links a:active {
    background-color: #bde7fa;
    transition: .2s;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.mediaLogo {
    width: 30px;
}

.footerLogo {
    width: 167px;
    height: auto;
}

.footerLeft p {
    color: #f68f51;
    margin: 0.2vw 0.2vw 0.5vw;
    padding-left: 0.2vw;
}

.footerLeft div {
    margin: 0vw;
}

main div {
    padding-top: 1.5vw;
    padding-left: 3vw;
    padding-bottom: 1.5vw;
    background-color: #fffcf8;
}


.fishBasket img {
    width: 5vw;
}



.fishBasket a:hover {
    background-color: rgba(246, 143, 81, 0);
    border: rgba(246, 143, 81, 0);
    transition: .2s;
    padding-top: 60%;
    transform: scale(1);
}


.fishBasket img:hover {
    background-color: #f68f51;

    transition: .2s;
    transform: scale(1);
}

.fishBasket a {
    padding-top: 60%;
}

main form button {
    font-family: "Playball", cursive;
    background-color: #fcd0bd;
    border: 2px solid #fcd0bd;
    color: black;
    padding: 1.5vh;
    gap: 10px;
    border-radius: 15%;
    font-size: 1.2rem;

}


main form button:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

main form button:active {
    background-color: #bde7fa;
    border: 2px solid #bde7fa;
    transition: .2s;
}

main form a {
    font-family: "Playball", cursive;
    background-color: #fcd0bd;
    border: 2px solid #fcd0bd;
    color: black;
    padding: 1.5vh;
    gap: 20px;
    border-radius: 15%;
    font-size: 1.2rem;

}

span {

    display: flex;
    flex-direction: column;
    color: black;
    background-color: #bde7fa;
    justify-content: center;
    text-align: center;
    padding: 3vh;
    font-size: 1.8rem;
    font-family: "Jost", sans-serif;
}

nav span {
    background-color: #bde7fa;
    border-radius: 10%;
    font-size: 0.9rem;
    text-align: center;
    width: 5vw;
    height: 2.2vh;
    margin: 0 auto;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #e0d9cc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.fullButton {
    width: 6vw;
    min-width: 100px;
}

.content {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    padding-right: 6px;
}

.knop {
    display: flex;
    flex-direction: row;
    align-items: center;
}