
P {
    font-size: 1.1rem;
    font-family: "Jost", sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-family: "Jost", sans-serif;
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffcf8;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

.jost- {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7vw;
    background-color: #e0d9cc;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2rem;

}

nav div {
    display: flex;
    flex-direction: row;
}



a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #e0d9cc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    aspect-ratio: 1 / 1;
}

.links {
    padding: 2vh;
    gap: 20px;
    text-align: center;

}

.links a {
    height: 100%;
    align-self: center;
}


nav div a {
    color: black;
    padding: 2% 11px;
}

nav img {
    width: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.logo a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
}


.links a:hover {
    background-color: #f68f51;
    transform: scale(1.1);
    border-radius: 10%;
    transition: 0.5s;
}

.links a:active {
    background-color: #bde7fa;
    transition: .2s;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.mediaLogo {
    width: 30px;
}

.footerLogo {
    width: 167px;
    height: auto;
}

.footerLeft p {
    color: #f68f51;
    margin: 0.2vw 0.2vw 0.5vw;
    padding-left: 0.2vw;
}

.footerLeft div {
    margin: 0;
}

header {
        display: flex;
        flex-direction: column;
        font-family: "Playball", cursive;
        color: #f68f51;
        justify-content: center;
        background-image: url("../images/bannerorders.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 100vw;
        height: 55vh;
        text-align: center;
        padding-bottom: 3.5vh;
        background-color: #fffcf8;

}

    header p {
       font-size:  1.5rem;
        color: #f68f51;
    }

    header {
        align-items: center;

    }

    header div {
        width: 80%;
        background-color: rgba(0, 0, 0, 0.45);
    }



header div {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.45);
}



.logo img:hover {
    transform: scale(1.06);
    transition: 1s;
}


.logo img{
    transition: .7s;
}

main {
    display: flex;
    flex-direction: row;
    gap: 17px;
    padding-bottom: 3vh;
    padding-top: 4vh;
    background-color: #fffcf8;
}

.product {
    padding-left: 15vw;
}

main a {
    background-color: #fcd0bd;
    border: 2px solid #fcd0bd;
    color: black;
    width: 3.5vw;
    height: 4vh;
    border-radius: 15%;
}

main a:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

main a:active {
    background-color: #bde7fa;
    border: 2px solid #bde7fa;
    transition: .2s;
    align-content: center;
}

.fishBasket img {
    width: 5vw;
}


.fishBasket a:hover {
    background-color: rgba(246, 143, 81, 0);
    border: rgba(246, 143, 81, 0);
    transition: .2s;
    padding-top: 60%;
    transform: scale(1);
}


.fishBasket img:hover {
    background-color: #f68f51;

    transition: .2s;
    transform: scale(1);
}

.fishBasket a {
    padding-top: 60%;
}

button {
    font-family: "Playball", cursive;
    background-color: #fcd0bd;
    border: 2px solid #fcd0bd;
    color: black;
    padding: 2vh;
    gap: 20px;
    border-radius: 10%;
    font-size: 1rem;
    margin: 0.35vw;
    width: 3.5vw;

}

button:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main form button {
    font-family: "Playball", cursive;
    background-color: #fcd0bd;
    border: 2px solid #fcd0bd;
    color: black;
    padding: 1.5vh;
    gap: 20px;
    border-radius: 15%;
    font-size: 1.2rem;
    width: 100%;
    margin-left: 1vw;
}

main form button:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

main form button:active {
    background-color: #bde7fa;
    border: 2px solid #bde7fa;
    transition: .2s;
}
span {

    display: flex;
    flex-direction: column;
    color: black;
    background-color: #bde7fa;
    justify-content: center;
    text-align: center;
    padding: 3vh;
    font-size: 1.8rem;
    font-family: "Jost", sans-serif;
}

nav span {
    background-color: #bde7fa;
    border-radius: 10%;
    font-size: 0.9rem;
    text-align: center;
    width: 5vw;
    height: 2.2vh;
    margin: 0 auto;
}

main form a {
    font-family: "Playball", cursive;
    background-color: #fcd0bd;
    border: 2px solid #fcd0bd;
    color: black;
    padding: 1.5vh;
    gap: 20px;
    border-radius: 15%;
    font-size: 1.2rem;
    width: 100%;

}

article {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}


.hook-wrapper {
    position: fixed;
    right: 29vw;
    top: -50vw;   /* start boven het scherm, maar schaalbaar */
    z-index: 10;
    pointer-events: auto;
}
.hook {
    width: 15vh;
    height: auto;
    cursor: pointer;
    transition: transform 0.1s linear;
}

.hook {
    cursor: pointer;
}
