body {

}


nav {

}


header {
    color: #f68f51;
    text-align: center;
    gap: 20px;
    align-items: center;
    padding: 225px 75px;
    border-radius: 5px;
    background-image: url(../images/vis-kar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


main {

}


footer {

}

P {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}


nav div {
    display: flex;
    flex-direction: row;
}


a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
}

.links {
    padding: 5vh;
    gap: 20px;
    text-align: center;

}

.links a {
    width: 4vw;
    height: 100%;
    align-self: center;
}


nav div a {
    background-color: #fcd0bd;

    border: 2px solid #fcd0bd;
    color: black;
    padding: 4% 22px;
}

nav img {
    width: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.logo a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
}


.links a:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

.links a:active {
    background-color: #bde7fa;
    border: 2px solid #bde7fa;
    transition: .2s;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.mediaLogo {
    width: 2vw;
}

.footerLogo {
    width: 10vw;
}

.footerLeft p {
    color: #f68f51;
    margin: 0.2vw 0.2vw 0.5vw;
    padding-left: 0.2vw;
}

.footerLeft div {
    margin: 0vw;
}
