P {
    font-size: 1.1rem;
    font-family: "Jost", sans-serif;
}

h1 {
    font-size: 3rem;
    color: #f68f51;
    font-family: "Playball", cursive;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

.jost- {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 7vw;
    background-color: #e0d9cc;
    align-items: center;
}


nav div {
    display: flex;
    flex-direction: row;
}


a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
}

.links {
    padding: 2vh;
    gap: 20px;
    text-align: center;

}

.links a {
    height: 100%;
    align-self: center;
}


nav div a {
    color: black;
    padding: 2% 11px;
}

nav img {
    width: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.logo a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
}

.logo img{
    transition: .7s;
}


.logo img:hover {
    transform: scale(1.06);
    transition: 1s;
}


.links a:hover {
    background-color: #f68f51;
    transform: scale(1.1);
    transition: 1s;
}

.links a:active {
    background-color: #bde7fa;
    transition: .2s;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.mediaLogo {
    width: 2vw;
}

.footerLogo {
    width: 167px;
    height: auto;
}

.footerLeft p {
    color: #f68f51;
    margin: 0.2vw 0.2vw 0.5vw;
    padding-left: 0.2vw;
}

.footerLeft div {
    margin: 0vw;
}


body {
    background-color: #fffcf8;
}

main article {
    background-color: #fffcf8;
}

main section {
    display: flex;
    flex-direction: row;
}


.top {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;

    transform: translateX(-100px);
    opacity: 0;

    animation: slideIn 1.2s ease-out forwards;
}

.bottom {
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;

    transform: translateX(100px);
    opacity: 0;

    animation: slideInRight 1.2s ease-out forwards;
}

main section {
    margin: 1vh 7vw;
}


main section div {
    margin: 0vh 2vw;
    width: 40vw;
}

main section div img   {
    width: 40vw;
    border: 3px solid #e0d9cc;
}


header {
    font-family: "Playball", cursive;
    color: #f68f51;
    text-align: center;
    gap: 20px;
    padding: 1.5vw;
    align-items: center;
    border-radius: 5px;
    /*
    background-image: url("../images/header feest.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     */
}

header p {
    color: black;
}

.fishBasket img {
    width: 5vw;
}

nav a:hover {
    transform: scale(1.2);
    transition: 6s;
}

main article {
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;
}

main article button {
    width: 6.5vw;
}

button {
    font-family: "Playball", cursive;
    background-color: #fcd0bd;
    border: 2px solid #fcd0bd;
    color: black;
    padding: 2vh;
    gap: 20px;
    border-radius: 10%;
    font-size: 1rem;
    margin: 0.35vw;
    min-width: 100px;
    width: 100%;
}

button:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}


nav a:hover {
    transform: scale(1.2);
    transition: 6s;
}

.formConfirm {
    display: flex;
    justify-content: center;

}

.fishBasket a:hover {
    background-color: rgba(246, 143, 81, 0);
    border: rgba(246, 143, 81, 0);
    transition: .2s;
    padding-top: 60%;
    transform: scale(1);
}


.fishBasket img:hover {
    background-color: #f68f51;

    transition: .2s;
    transform: scale(1);
}

.fishBasket a {
    padding-top: 60%;
}

.formBasket {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 79.7%;
    max-width: 50vw;
    padding-left: 24vw;
    padding-right: 24vw;
    font-family: "Tw Cen MT";
    background-color: #fffcf8;
}

input {
    padding: 1vw;
}

.mainTitle {
    font-family: "Playball", cursive;
    color: #f68f51;
    display: flex;
    justify-content: center;
}

form {
display: flex;
    gap: 8px;

}

form span {
    color: #b30303;
}

.endForm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 6vh;
}
nav span {

    display: flex;
    flex-direction: column;
    color: black;
    background-color: #bde7fa;
    justify-content: center;
    text-align: center;
    padding: 3vh;
    font-size: 1.8rem;
    font-family: "Jost", sans-serif;
}

nav span {
    background-color: #bde7fa;
    border-radius: 10%;
    font-size: 0.9rem;
    text-align: center;
    width: 5vw;
    height: 2.2vh;
    margin: 0 auto;
}

@media (max-width: 630px) {
    .home {
    display: none;
    }
    nav {
        padding-right: 2vw;
        padding-left: 2vw;
    }
}

@media (max-width: 480px) {

}