P {
    font-size: 1.1rem;
    font-family: "Jost", sans-serif;
}

h1 {
    font-size: 2.2rem;
    color: #f68f51;
    font-family: "Playball", cursive;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffcf8;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

.jost- {
           font-family: "Jost", sans-serif;
           font-optical-sizing: auto;
           font-style: normal;
       }

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 7vw;
    background-color: #e0d9cc;
    align-items: center;
}


nav div {
    display: flex;
    flex-direction: row;
}


a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
}

.links {
    padding: 2vh;
    gap: 20px;
    text-align: center;

}

.links a {
    height: 100%;
    align-self: center;
}


nav div a {
    color: black;
    padding: 2% 11px;
}


.logo img {
    width: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.logo a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
}

.logo img{
    transition: .7s;
}


.logo img:hover {
    transform: scale(1.06);
    transition: 1s;
}


.links a:hover {
    background-color: #f68f51;
    transform: scale(1.1);
    border-radius: 10%;
    transition: 0.5s;
}

.links a:active {
    background-color: #bde7fa;
    transition: .2s;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.mediaLogo {
    width: 30px;
}

.footerLogo {
    width: 167px;
    height: auto;
}

.footerLeft p {
    color: #f68f51;
    margin: 0.2vw 0.2vw 0.5vw;
    padding-left: 0.2vw;
}

.footerLeft div {
    margin: 0vw;
}


main {
    background-color: #fffcf8;
}

main section {
    display: flex;
    flex-direction: row;
}


.top {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    transform: translateX(-100px);
    opacity: 0;

    animation: slideIn 1.2s ease-out forwards;
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5vh;

    transform: translateX(100px);
    opacity: 0;

    animation: slideInRight 1.2s ease-out forwards;
}

main section {
    margin: 1vh 7vw;
}


main section div {
    margin: 0vh 2vw;
    width: 40vw;
}

main section div img   {
    width: 40vw;
    border: 3px solid #e0d9cc;
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fishBasket img {
    width: 5vw;
}




span a {
    text-decoration: underline;
    font-family: "Jost", sans-serif;
}


.fishBasket a:hover {
        background-color: rgba(246, 143, 81, 0);
        border: rgba(246, 143, 81, 0);
        transition: .2s;
    padding-top: 60%;
    transform: scale(1);
    }


.fishBasket img:hover {
    background-color: #f68f51;

    transition: .2s;
    transform: scale(1);
}

.fishBasket a {
    padding-top: 60%;
}

.notificationImg {
padding-left: 88.5vw;
    width: 2vw;
    height: auto;
}

span {

    display: flex;
    flex-direction: column;
    color: black;
    background-color: #bde7fa;
    justify-content: center;
    text-align: center;
    padding: 3vh;
    font-size: 1.8rem;
    font-family: "Jost", sans-serif;
}

nav span {
    background-color: #bde7fa;
    border-radius: 10%;
    font-size: 0.9rem;
    text-align: center;
    width: 5vw;
    height: 2.2vh;
    margin: 0 auto;
}


table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

th,
td {
    text-align: center;
    vertical-align: top;
    padding: 0.6em;
}

td a {
    border: 0px solid rgba(246, 143, 81, 0);
}

td a:hover{
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

.adminh1 {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 79.7%;
    max-width: 100vw;
    height: 70vh;
    justify-content: center;
    align-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: "Tw Cen MT";
    font-size: 1.2rem;
    padding-bottom: 4vh;
    background-color: #fffcf8;
    padding-top: 3vh;
    gap: 2vh;
}

input {
    padding: 1vw;
}

textarea {
    padding-bottom: 7vw;
    padding-left: 1vw;
}

form button {
    margin-top: 2.5vw;
    width: 100%;
    max-width: 100vw;
    height: 3.5vw;
    background-color: #fcd0bd;
    border: 2.5px #fcd0bd;
}


form button:hover {
    background-color: #f68f51;
    transition: .2s;
}

form button:active {
    background-color: #bde7fa;
    transition: .2s;
}


form span {
    color: #b30303;
}


form div {

}

.adminDetails{
    flex-direction: column;
    text-align: center;
    margin: 1vh 7vw;
    align-items: center;
}

.container {
    flex-direction: column;
    align-content: center;
}

.adminDiv {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.adminDiv a{
    margin: 0 0;
    border: 2px solid rgba(246, 143, 81, 0);
}

.adminDiv a:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

.mainDelete {
    text-align: center;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50vh;

}

    .cancelButton {
        display: flex;
        justify-content: center;
        align-items: center;
       width: 50vw;
        max-width: 100vw;
        height: 2vw;
        background-color: #fcd0bd;
        border: 2.5px #fcd0bd;
        text-align: center;
        font-family: "Jost", sans-serif;
        font-size: 1.2rem;
    }


  .cancelButton:hover {
        background-color: #f68f51;
        transition: .2s;
    }

   .cancelButton:active {
        background-color: #bde7fa;
        transition: .2s;
    }

   .mainDelete form {
       font-family: "Tw Cen MT";
       display: flex;
      width: 50%;
       padding: 2vw;
   }

   .mainDelete form button {

      width: 103%;
   }

/* Mobile responisve */

@media (max-width: 900px) {
    .top {
        display: flex;
        flex-direction: column;

    }

    .bottom {
        display: flex;
        flex-direction: column-reverse;
    }

    main section div {
        width: 70vw;
    }

    main section div img   {
        width: 70vw;
    }
}


@media (max-width: 650px) {
    .links a {
        padding: 0;
    }

    .home {
        display: none;
    }
    nav {
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }
    .fishBasket img {
        width: 30px;
    }
    .logo img {
        width: 100px;
    }
}


@media (max-width: 480px) {

}