P {
    font-size: 1.1rem;
}

h1 {
    font-size: 2.2rem;
    color: #f68f51;
    font-family: "Playball", cursive;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}


nav div {
    display: flex;
    flex-direction: row;
}


a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-family: "Playball", cursive;
    font-size: 1.3rem;
}

.links {
    padding: 5vh;
    gap: 20px;
    text-align: center;

}

.links a {
    width: 4vw;
    height: 100%;
    align-self: center;
}


nav div a {
    background-color: #fcd0bd;

    border: 2px solid #fcd0bd;
    color: black;
    padding: 4% 22px;
}

nav img {
    width: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.logo a {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
}

.logo img{
    transition: .7s;
}


.logo img:hover {
    transform: scale(1.06);
    transition: 1s;
}


.links a:hover {
    background-color: #f68f51;
    border: 2px solid #f68f51;
    transition: .2s;
}

.links a:active {
    background-color: #bde7fa;
    border: 2px solid #bde7fa;
    transition: .2s;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10vw;
    background-color: #e0d9cc;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.mediaLogo {
    width: 2vw;
}

.footerLogo {
    width: 10vw;
}

.footerLeft p {
    color: #f68f51;
    margin: 0.2vw 0.2vw 0.5vw;
    padding-left: 0.2vw;
}

.footerLeft div {
    margin: 0vw;
}


main {
    background-color: #fffcf8;
}

main section {
    display: flex;
    flex-direction: row;
}


.top {
    display: flex;
    flex-direction: row;

}

.bottom {
    display: flex;
    flex-direction: row;

}

main section {
    margin: 1vh 7vw;
}


main section div {
    margin: 0vh 2vw;
    width: 40vw;
}

main section div img   {
    width: 40vw;
    border: 3px solid #e0d9cc;
}